.A{
    font-size: 90px;
    margin-top: 5px;
    position: absolute;
    
}
.B{
    color:green;
    font-size: 90px;
    position: absolute;
    margin-top: 110px;
    
}
.a{
    width: 1250px;
    height: 500px;
    
}
.vaibhav{
    width: 1250px;
    background-image:url(small\ tree.webp);
}
.C{
    font-size: 20px;
    color:black;
}
.vijay{
    margin-top: 50px;
}
.jadhav{
    width: 450px;
    height: 230px;
    margin-left: 50px;
    position: absolute;
    margin-bottom: 20px;

}
.rajesh{
    width: 90px;
    height: 90px;
    margin-left: 420px;
    position: absolute;
}
.dada{
    margin-left: 550px;
    margin-top: 20px;
    position: absolute;
    font-size: 30px;
}


.shivdhan{
    width: 100px;
    height: 100px;
    margin-left: 1050px;
    border-radius: 50px;
    margin-top: 30px;
    position: absolute;

}
.payal{
    width: 100px;
    height: 100px;
    margin-left: 1000px;
    border-radius: 50px;
    margin-top: 30px;
}

.hari{
    margin-left: 1050px;
    font-size: 20px;
}
.saheb{
    margin-left: 1020px;
    font-size: 20px;
}
.r{
    height: 50px;
    width: 70px;
}
.p{
    height: 50px;
    width: 70px;
}
.icon{
    margin-left: 800px;
    padding: 20px;
}
.D{
    text-decoration: none;
}
a{
    text-decoration: none;
}
.Z{
    height: 400px;
    width: 400px;
    border-radius: 250px;
    position: absolute;
}
.MD{
    height: 150px;
    width: 400px;
    margin-left: 400px;
    margin-top: 150px;
    position: absolute;
}
.Y{
    height: 400px;
    width: 400px;
    border-radius: 250px;
    margin-left: 800px;
}
.VC{
    height: 450px;
    width: 1250px;
    background-image: url(black\ soil.jpg);
}
.VM{
    height: 500px;
    width: 1000px;
    margin-left: 100px;
    margin-top: 20px;
}





